#moveToFill {
    background: red;
    position: absolute;
    width: 100px;
    height: 100px;
}#back {
    background: purple;
    position: relative;
    width: 100vw;
    height: 100vh;
}#target {
    width: 200px;
    height: 200px;
    left: 200px;
    top: 200px;
}